In [1]:
import pandas as pd

In [ ]:
excel_path="C:\\Users\\user\\Downloads\\Test y ventures\\dags\\Sales_Data_Full.xlsx"
df = pd.read_excel(excel_path)

C:\Users\user\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\statsmodels\tsa\statespace\sarimax.py:866: UserWarning: Too few observations to estimate starting parameters for seasonal ARMA. All parameters except for variances will be set to zeros.
  warn('Too few observations to estimate starting parameters%s.'
C:\Users\user\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\statsmodels\tsa\statespace\sarimax.py:866: UserWarning: Too few observations to estimate starting parameters for seasonal ARMA. All parameters except for variances will be set to zeros.
  warn('Too few observations to estimate starting parameters%s.'

In [6]:
sarimax

    Order Date  Sales Quantity  Sales Amount    category
0   2020-01-05         9416.00     487900.46  HISTORICAL
1   2020-01-12        22763.00    1154499.26  HISTORICAL
2   2020-01-19        26080.00    1321315.56  HISTORICAL
3   2020-01-26        21591.00    1049702.81  HISTORICAL
4   2020-02-02        16637.00     776451.89  HISTORICAL
..         ...             ...           ...         ...
204 2023-12-03        -3075.33    -103254.97     SARIMAX
205 2023-12-10        -3296.64    -101748.34     SARIMAX
206 2023-12-17        -3321.91    -101949.13     SARIMAX
207 2023-12-24        -3771.45    -142895.01     SARIMAX
208 2023-12-31        -3499.65     -99036.81     SARIMAX

[209 rows x 4 columns]