In [2]:
# Set seed agar hasil konsisten
import pandas as pd 
import numpy as np

np.random.seed(42)

# Generate tanggal
dates = pd.date_range(start="2024-01-01", end="2024-03-31", freq="D")

# Dummy holiday (misal hari besar nasional)
holiday_dates = [
    "2024-01-01",
    "2024-02-10",
    "2024-03-11"
]

df = pd.DataFrame({"date": dates})
df["is_holiday"] = df["date"].isin(pd.to_datetime(holiday_dates)).astype(int)

# Generate sales
df["sales"] = (
    200
    + df["is_holiday"] * 120   # efek holiday
    + np.random.normal(0, 30, len(df))
)

df.head()

        date  is_holiday       sales
0 2024-01-01           1  334.901425
1 2024-01-02           0  195.852071
2 2024-01-03           0  219.430656
3 2024-01-04           0  245.690896
4 2024-01-05           0  192.975399

In [3]:
df["day_of_week"] = df["date"].dt.weekday
df["month"] = df["date"].dt.month

In [4]:
df

         date  is_holiday       sales  day_of_week  month
0  2024-01-01           1  334.901425            0      1
1  2024-01-02           0  195.852071            1      1
2  2024-01-03           0  219.430656            2      1
3  2024-01-04           0  245.690896            3      1
4  2024-01-05           0  192.975399            4      1
..        ...         ...         ...          ...    ...
86 2024-03-27           0  227.462064            2      3
87 2024-03-28           0  209.862533            3      3
88 2024-03-29           0  184.107194            4      3
89 2024-03-30           0  215.398023            5      3
90 2024-03-31           0  202.912326            6      3

[91 rows x 5 columns]

In [5]:
df["lag_1"] = df["sales"].shift(1)
df["lag_7"] = df["sales"].shift(7)

In [7]:
df.head(10)

,date,is_holiday,sales,day_of_week,month,lag_1,lag_7
0,2024-01-01,1,334.901425,0,1,NaN,NaN
1,2024-01-02,0,195.852071,1,1,334.901425,NaN
2,2024-01-03,0,219.430656,2,1,195.852071,NaN
3,2024-01-04,0,245.690896,3,1,219.430656,NaN
4,2024-01-05,0,192.975399,4,1,245.690896,NaN
5,2024-01-06,0,192.975891,5,1,192.975399,NaN
6,2024-01-07,0,247.376384,6,1,192.975891,NaN
7,2024-01-08,0,223.023042,0,1,247.376384,334.901425
8,2024-01-09,0,185.915768,1,1,223.023042,195.852071
9,2024-01-10,0,216.276801,2,1,185.915768,219.430656